elnx-cd-DhollanderJonas-master/.vagrant/machines/production/virtualbox/action_provision
elnx-cd-DhollanderJonas-master/.vagrant/machines/production/virtualbox/action_set_name
elnx-cd-DhollanderJonas-master/.vagrant/machines/production/virtualbox/creator_uid
elnx-cd-DhollanderJonas-master/.vagrant/machines/production/virtualbox/id
elnx-cd-DhollanderJonas-master/.vagrant/machines/production/virtualbox/index_uuid
elnx-cd-DhollanderJonas-master/.vagrant/machines/production/virtualbox/synced_folders
